{% load static %}
<!DOCTYPE html>
<html dir='rtl'>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/etudaint-exo2.css' %}" />
    <title>etudaint</title>`

</head>

<body>


    <header>
        <ul class="navbar">
       
          <li><a href="{% url 'dict' %}">القاموس</a></li>
          <li><a href="{% url 'etudiant' %}">الصفحة الرئيسية</a></li>
    
    
          <li class="user-info">
            <span ><a href="{% url 'profile' %}">
                اسم المستخدم
              </a>
              </span>
          </li>
          <li class="logout"><a href="{% url 'log_in' %}"><i class="fas fa-sign-out-alt"></i> تسجيل الخروج</a></li>
        </ul>
      </header>
    <div class="div1">

        <dev class="gotologin">

            <h2 class="title2">
                اهلا محمد لقد حان وقت تطوير
                امكانياتك معنا
            </h2>


        </dev>
        <dev class="divsvg_exo">
            <img src="{% static 'image/exo2.png' %}" style="width: 100px ;height:100px;">
            <h1 class="titre_bon"> رتب الكلمات لتشكيل جملة صحيحة</h1>


            <div id="sortlist" class="choix">
                {% for word in phrase %}
                    <div class="ch1">{{ word }}</div>
                {% endfor %}
            </div>


            <dev class="valide" onclick="submitAnswer()">
                <h2>تحقق من صحة الإجابة</h2>
            </dev>
            <dev class="next">
                <h2>
                    التالي
                </h2>
                <h3 class="hh3">إذا تم تخطي أحد التمارين ، فسيتم تقديم هذا التمرين لاحقًا على هذا المستوى.</h3>

            </dev>
         



        </dev>

    </div>




        
    <script src="{% static 'js/etudaint-exo2.js' %}"></script>
    <script>
            const id = {{ id }}
            const phrase = "{{ phrase }}"

            function submitAnswer() {
                const wordListElement = document.getElementById("sortlist");
                const currentWordList = Array.from(
                    wordListElement.getElementsByTagName("div")
                ).map((li) => li.innerText);

                reponse = currentWordList.join(" ")

                console.log({
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id : id,
                        reponse : reponse
                    },
                )})

                console.log('submitting : ', reponse)
                fetch('/exo1', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id : id,
                        reponse : reponse
                    })
                }).then(response => response.json())
                .then(response => {
                    console.log("my_response : ", response.right)
                    if (response.right) {
                        console.log("right answer")
                        return 0;
                    } else {
                        console.log("wrong answer")
                        return 1;
                    }
                })
                .catch(error => {
                    console.error('Network error:', error);
                    return 1;
                });

                return 0;
            }
        slist(document.getElementById("sortlist"));
    </script>




</body>

</html>