{% load static %}
<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/etudaint-exo3.css' %}" />
    <title>etudaint</title>
    `
  </head>

  <body>
    <header>
      <ul class="navbar">
        <li><a href="{% url 'dict' %}">القاموس</a></li>
        <li><a href="{% url 'etudiant' %}">الصفحة الرئيسية</a></li>

        <li class="user-info">
          <span><a href="{% url 'profile' %}"> اسم المستخدم </a> </span>
        </li>
        <li class="logout">
          <a href="{% url 'log_in' %}"
            ><i class="fas fa-sign-out-alt"></i> تسجيل الخروج</a
          >
        </li>
      </ul>
    </header>
    <div class="div1">
      <dev class="gotologin">
        <h2 class="title2">اهلا محمد لقد حان وقت تطوير امكانياتك معنا</h2>
      </dev>
      <dev class="divsvg_exo">
        <img
          src="{% static 'image/exo2.png' %}"
          style="width: 100px; height: 100px"
        />
        <h1 class="titre_bon">اختر الإجابات الصحيحة</h1>

        <dev class="phrase">
          <h1>اختر التعريفات الصحيحة لهذه الكلمة: الأقارب</h1>
        </dev>
        <dev class="choix">
          <div class="phrase-list">
            {% for phrase in phrases %}
            <div class="phrase-item">
              <input type="checkbox" class="checkbox" id="{{ phrase.id }}" />
              <span class="phrase-text">{{ phrase.dfn }}</span>
            </div>
            {% endfor %}
          </div>
        </dev>
        <dev class="next">
          <h2>التالي</h2>
        </dev>
        <dev class="valide">
          <h2>
            <button id="valider">تحقق من صحة الإجابة</button>
          </h2>
        </dev>

        <h3 class="hh3">
          إذا تم تخطي أحد التمارين ، فسيتم تقديم هذا التمرين لاحقًا على هذا
          المستوى.
        </h3>
      </dev>
    </div>

    <script>
      function submitAnswer() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var checkedIds = [];

        checkboxes.forEach(function (checkbox) {
          if (checkbox.checked) {
            checkedIds.push(checkbox.id);
          }
        });

        console.log(checkedIds);

        const id = {{ id }}

      fetch('/exo2', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          id: id,
          reponse: checkedIds
        })
      }).then(response => response.text())
        .then(response => {
          console.log(response);
          var ob = JSON.parse(response);
          console.log(ob);
        })
        .catch(error => {
          console.error('Network error:', error);
          return 1;
        });

      return 0;
      }

      valider_btn = document.getElementById("valider").addEventListener("click", submitAnswer)
    </script>

    <script src="{% static 'js/etudaint-exo3.js' %}"></script>
  </body>
</html>
