<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
    
console.log('A')

function sendRequestRecherche(query, type_recherche, page, nivs, niveau) {

  fetch('/dict/search', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      query: query,
      type_recherche: type_recherche,
      page: page,
      nivs: nivs,
      niveau: niveau
    })
  }).then(response => response.json())
    .then(response => {
      console.log("my_response : ", response.right)
    })
    .catch(error => {
      console.error('Network error:', error);
      return 1;
    });

  return 0;
}

console.log('B')


sendRequestRecherche('ذه', 'l', 0, 'all', 10);
    </script>
</body>
</html>